---
interface Props {
  src: string;
  showIframe: boolean;
}
const { src, showIframe } = Astro.props;
---

<section class="clip-container">
  {showIframe && (
    <div class="iframe">
      <iframe
        class="video-section"
        src={`https://www.youtube.com/embed/${src}`}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  )}
</section>

<style>
  .clip-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  .iframe {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;    /* Vertical centering (if needed) */
    width: 100%;
  }
  
  .video-section {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: none; /* Removes default iframe border */
  }
</style>