---
import ProjectTemplate from "../components/ProjectTemplate.vue";

import TAPDefaultLayout from "../layouts/default.astro";

import "agnostic-vue/dist/index.css";
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";

// Style Imports
import '../styles/global.css';
---
<TAPDefaultLayout title="Outreach Projects">
    <div class="main-container">
        <ProjectTemplate client:load></ProjectTemplate>
    </div>

</TAPDefaultLayout>

<style>
    .main-container {
	  max-width: 80%;
	  margin: 0 auto;
	  padding: 1rem;
	}
</style>